           /*this is to set out the unified background and font for the site */
           body {background-color:cornsilk; font-family: Arial, Helvetica, Geneva, sans serif}
           /*cascading passion page, using class selector of css to cascade different element of a certain class*/
           h2 {text-align: right}
           .passion h1  {color: black; text-align: center}

          .passion p:first-letter {font-size: 40px; font-weight: bold}
          .passion p   {hight: 600px; width: 1000px;  border-style: groove; border-color: grey;
                        font-size: 25px; line-height: 1.9em; background-color: white; margin: 10px auto 10px auto;
                        text-align: left}
          /*cascading feedback page with the same way above*/
          .feedback {text-align: center}
          .feedback h1 {color: black; text-align: center}
          .feedback p {font-weight: bold}
          /*cascading the sitemap in sitemap page, using id selector, making it appear appropritely*/
          #sitemap {width: 800px; height:500px; margin: 0px auto; display: block;}
          /*same way cascading a picture of me using id selector of the feedback page*/
          #me {width: 400px; height:300px;margin: 0px auto; display: block;}

          #menu {width:100%; height: 150px; background-image: url("bar.png"); background-position: center top; background-repeat: no-repeat; padding: 2px}
          #menu ul{background-color: cornsilk; opacity: 0.5; text-align: center;}
           #menu li {display: inline; padding: 20px;  }
           #menu a {text-decoration: none; color: black; font-size: 17px;font-weight: bolder}
           #hp {hight: 1920px; width: 100%;}
           #chinamap {border-style: dashed; margin-top: 20px; width: 25%; height: 25%;}